
nav {
    background-color: whitesmoke;
    padding: 15px;
    font-family: cursive;
}

nav .icon-bar{
    background-color: black;
}
.nav-item{
    font-size: 2.5rem;
    padding: 10px;
    font-variant: small-caps;
    color: black;
}
nav ul li{
    padding: 20px;
}
.box{
    background-color: white;
}
.box h1{
    text-align: center;
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box p{
    text-align: center;
}

.box p+p{
    align-items: center;
    padding: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 2;
    font-size: 3em;
}
.box p b{
    color: blue;
}
.box img{
    width: 90%;
}
.box .social{
    text-align: center;
}
.box .social a{
    padding: 0 25px;
    margin: 5px 0;
}

.box .social1 a{
    margin: 10px;
    padding: 25px 80px;
    border: 8px groove rgb(1, 1, 20);
    border-radius: 25px;
    background-color: rgb(60, 60, 151);
    font-variant: small-caps;
    font-size: 35px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}